.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}
.todo:not(:last-child){
    margin-bottom: 10px;
}

.text{
    width: 100px;
}

.checked{
    text-decoration: line-through;
}